__pycache__
*.pyc
*.test
.vscode/

/data/*
!/data/datasets.zip
!/data/configs
!/data/sessions
sandbox/
projects/
notebooks/
notebooks-uncertainty/

build/
dist/
*.egg-info/

src/kmol/vendor/graphormer/algos.c
src/*.so
src/kmol/vendor/graphormer/algos.*.so
