
# Pip requirement for the kmol project

cairosvg == 2.5.1
networkx == 2.5
optuna == 2.4.0
grpcio-tools
grpcio == 1.31.0
rdkit
pyhumps == 1.6.1
disklist == 0.4.0
rich == 12.6.0
openpyxl
scikit-learn == 0.23.2
mordred == 1.2.0
numpy == 1.22.3
boxsdk[jwt] == 3.6.1


# --find-links https://download.pytorch.org/whl/cu113/torch_stable.html
# torch == 1.10.1+cu113 
# torchvision == 0.11.2+cu113

# --find-links https://pytorch-geometric.com/whl/torch-1.10.1+cu113.html
# torch-scatter == 2.0.9
# torch-sparse == 0.6.13
# torch-cluster == 1.6.0
# torch-spline-conv == 1.2.1

# torch-geometric == 2.0.2

captum == 0.5.0
torch-lr-finder == 0.2.1
Cython == 0.29.32
pandas == 1.5.2
dask == 2022.12.1
distributed == 2022.12.1

# Openfold requirements
biopython == 1.79
dm-tree == 0.1.6
deepspeed==0.5.10
ml-collections==0.1.0
requests==2.26.0
typing-extensions==4.3.0

--find-links https://download.pytorch.org/whl/cu117/torch/
torch == 1.13
--find-links https://download.pytorch.org/whl/cu117/torchvision/
torchvision == 0.14.0

--find-links https://pytorch-geometric.com/whl/torch-1.13.0+cu117.html
torch-scatter == 2.0.9
torch-sparse == 0.6.15
torch-cluster == 1.6.0
torch-spline-conv == 1.2.1

torch-geometric == 2.2.0

torch_lr_finder == 0.2.1
captum==0.5.0

-e .
